body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=2000&auto=format&fit=crop') 
    no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
}

#container {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: -150px;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 550px;
    text-align: center;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.3);
}

h1 {
    color: midnightblue;
}

#search {
    display: flex;
    gap: 8px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid silver;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.location {
    font-size: 26px;
    font-weight: bold;
    color: midnightblue;
}

.temperature {
    font-size: 64px;
    font-weight: bold;
}

.weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.detail-item {
    background: aliceblue;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid lightblue;
}

.label {
    font-size: 11px;
    color: gray;
}

.value {
    font-size: 18px;
    font-weight: bold;
    color: midnightblue;
}

/* DAILY FORECAST */
.daily-forecast {
    margin-top: 15px;
    display: flex;
    gap: 12px;
    overflow-x: auto;
}

.daily-item {
    background: white;
    padding: 10px;
    min-width: 70px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

/* HOURLY FORECAST */
.hourly-forecast {
    display: flex;
    margin-top: 18px;
    gap: 12px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.hour-item {
    background: white;
    padding: 12px;
    min-width: 90px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.h-time {
    font-weight: bold;
    color: dodgerblue;
}

.h-icon {
    font-size: 24px;
    margin: 6px 0;
}

.h-temp {
    font-size: 20px;
    font-weight: bold;
}

.h-humidity, .h-wind {
    font-size: 12px;
    color: gray;
}

.message {
    margin-top: 10px;
    font-weight: bold;
    color: crimson;
}
